:root {
    --cor-branco: #fbfaff;
    --cor-violeta: #8E0990;
    --cor-rosa: #FFBBF0;
    --cor-verde: #DBFF8F;
    --cor-amarelo: #FFE68E;
    --cor-azul: #A4FAFF;
    --cor-violetaclaro: #BC4FBE;

    --font-um: "VT323", monospace;
}


* {
    margin: 0;
    padding: 0; 
    font-family: var(--font-um);
}


.logo_div {
    justify-content: left;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-branco); 
    background-image: url("Assets/background.PNG");
    background-size:100% ;
    
}

.main {
    display: flex;
    gap: 1rem;
    margin-top: 2%;
    margin-left: 8%;
    margin-right: 5%;
    
}


.borda {
    width: 500px;
    align-content: center;
    justify-content: center;
    border: 4px solid var(--cor-violeta);
    border-radius: 10px;
    box-shadow: 5px 5px 0px 0px var(--cor-violeta);
    background-color: var(--cor-branco);
}

.icone {
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 55px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: var(--cor-rosa);
    border-bottom: 4px solid var(--cor-violeta);
}

.icone_bolinha {
    height: 25px;
    padding-top: 15px;
    padding-left: 15px;
}

.icone_x {
    height: 40px;
    padding-top: 10px;
    padding-right: 5px;
}

.icone2 {
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 55px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: var(--cor-verde);
    border-bottom: 4px solid var(--cor-violeta);
}

.texto1 {
    display: flex;
    flex-direction: column;
    font-family: var(--font-um);
    font-size: 1.5rem;
    color: var(--cor-violeta);
    gap: 1rem;
    justify-content: center;
 
}

.textarea {
    padding: 20px;
    background-color:var(--cor-branco);
    height: 200px;
    width: 450px;
    font-size: 1.5rem;
    border: 0;
    border-radius: 10px;
    color: var(--cor-violeta);
    resize: none;
} 

.textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    
} 

.textarea::placeholder {
    color: var(--cor-violetaclaro);
}

.atencao {
    margin-left: 30px;
    background-color: var(--cor-amarelo);
    width: 460px;
    height: 50px;
    display: flex;
    gap: 15px;
    border-radius: 30px;
    border: 4px solid var(--cor-violeta);
}

.atencao_img {
    margin-top: 6px;
    margin-left: 20px;
}

.atencao_frase {
    margin-top: 14px;
    margin-right: 10px;
}

.botaoir {
    width: 400px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.encriptar {
    cursor: pointer;
    width: 240px;
    height: 70px;
    flex-shrink: 0;
    font-size: 30px;
    color: var(--cor-violeta);
    background-color: var(--cor-verde);
    border: 4px solid var(--cor-violeta);
    border-radius: 10px;
    box-shadow: 5px 5px 0px 0px var(--cor-violeta);
   
}

.encriptar:hover {
    
    background-color: var(--cor-violeta);
    color: var(--cor-branco);
}

.encriptar:active {
    background-color:var(--cor-rosa);
    color: var(--cor-violeta);
}

.desencriptar {
    cursor: pointer;
    width: 240px;
    height: 70px;
    flex-shrink: 0;
    font-size: 30px;
    color: var(--cor-violeta);
    background-color: var(--cor-azul);
    border: 4px solid var(--cor-violeta);
    border-radius: 10px;
    box-shadow: 5px 5px 0px 0px var(--cor-violeta);
   
}

.desencriptar:hover {
    
    background-color: var(--cor-violeta);
    color: var(--cor-branco);
}

.desencriptar:active {
    background-color:var(--cor-rosa);
    color: var(--cor-violeta);
}

.seta {
    display: flex;
    vertical-align: center;
    height: 60px;
    padding: 20% 0 10% 0;
    
}

.texto2 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--cor-violeta);
    font-size: 24px;
}

.div_icones{
    display: flex;
    justify-content: right;
    width: 500px;
}


.cabecalho_icones {
    width: 360px;
    height: 60px;
} 


.textarea2 {
    height: 260px;
    width: 450px;
    background-color: var(--cor-branco);
    border: 0;
    border-radius: 10px;
    color: var(--cor-violeta);
    font-size: 1.5rem;
    padding: 20px;
    resize: none
}

.textarea2:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

.textarea2::placeholder {
    color: var(--cor-violetaclaro);
}

.div_pastas {
    display: flex;
    justify-content: space-between;
    width: 510px;
}

.botaocopiar {
    width: 50px;
    display: flex;
    justify-content: right;
}

.botao_copiar {
    background-color: var(--cor-rosa);
    color: var(--cor-violeta);
    font-size: 24px;
    width: 10rem;
    height: 4.75rem;
    flex-shrink: 0;
    border: 4px solid var(--cor-violeta);
    border-radius: 10px;
    box-shadow: 5px 5px 0px 0px var(--cor-violeta);
    cursor: pointer;
}

.botao_copiar:hover {
    
    background-color: var(--cor-violeta);
    color: var(--cor-branco);
}

.botao_copiar:active {
    background-color:var(--cor-azul);
    color: var(--cor-violeta);
}

.rodape {
    height: 100px;
    font-size: 42px;
    display: flex;
    justify-content: right;
    align-items: center;
    color: var(--cor-violeta);
    margin-right: 15%;
}

@media (max-width: 1150px) {
    .main {
        margin-left: 15%;
        flex-direction: column;
    }

    .seta {
        display: none;
    }
 
}

@media (max-width: 700px) {
    .main {
        margin-left: 6%;
        flex-direction: column;
    }
 
    .seta {
        display: none;
    }
}

